html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: system-ui;
    /* overflow: hidden;
} 

#map {
    /* width: 70%; */
    height: 100%;
    /* float: left; */
}

#sidebar {
    height: 100%;
    /* width: 30%; */
    /* margin-left: 70%; */
}

.travelmarker-tooltip {
    border-radius: 2px;
    min-width: 80px;
    width: fit-content;
    /* height: 100%; */
    position: absolute;
    background-color: white;
    z-index: 1000;
    margin: 2px;
    padding: 2px;
    /* overflow-wrap: break-word; */
}